<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>out.log</file>
    <append>false</append>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4r %-5level %logger{35}: %msg%n</pattern>
    </encoder>
  </appender>  
  <logger name="org.tkobciam" level="ERROR" additivity="true">
      <!-- <appender-ref ref="STDOUT" />-->
      <appender-ref ref="FILE" /> 
  </logger>          
  <root level="ERROR">
       <appender-ref ref="STDOUT" />
      <!-- <appender-ref ref="FILE" /> -->
  </root> 
</configuration>
